body {
  margin: 0;
  padding: 0;
  font-family: Graphik LCG;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
ul {
  margin-inline: unset !important;
}
.alice-carousel__dots-item {
  cursor: pointer;
}

.animation-container {
  width: 46px; /* Adjust as needed */
  overflow: hidden;
}

svg {
  animation: moveLeft 5s linear infinite; /* Adjust duration as needed */
}

@keyframes moveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}